#!/bin/sh

# This hook verifies whether the files about to be commited are invalid.

rules=(
	'git status | (! grep -q "karma\.conf\.js")'
	'! git grep -q "fdescribe"'
)

# TODO: grep for 'fdescribe'

. $(dirname "$0")/exec-rules --source-only

exit 0
