#!/bin/sh

# This hook verifies whether the staged files are valid, and compile successfully
# before pushing it to the remote branch.

rules=(
	'ng build --prod:Angular project failed to build',
	'ng lint:Angular project does not follow the style guide',
	'npm run build:',
	'npm run test-ci:',
)

. $(dirname "$0")/exec-rules --source-only

exit 0
