#!/bin/sh

# This hook verifies whether the staged files are valid, and compile successfully
# before pushing it to the remote branch.

rules=(
	'ng build --prod',
	'ng lint',
	'npm run build',
	'npm run test-ci'
)

for rule in $rules; do
	`${rule}`
	# TODO: grep for 'fdescribe'
	# TODO: check if karma.conf.js is committed

	if [ $? -eq 0 ]; then
		printf "${rule}... \e[32mOK\e[0m\n"
	else
		printf "${rule}... \e[31mFAIL\e[0m\n"
		exit 1
	fi
done

echo "Successfully passed all rules, pushing"
exit 0
