#!/bin/sh

# This hook verifies whether the staged files are valid, and compile successfully
# before pushing it to the remote branch.

rules=(
	'ng build --prod',
	'ng lint',
	'npm run build',
	'npm run test-ci',
)

# TODO: grep for 'fdescribe'
# TODO: check if karma.conf.js is committed

. ./exec-rules --source-only

exit 0
